<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ТО за месяц</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-1 text-center>Дни</ion-col>
      <ion-col col-2 text-center>ТО</ion-col>
      <ion-col col-1 text-center>КПЧ</ion-col>
      <ion-col col-2 text-center>Ср. чек</ion-col>
      <ion-col col-2 text-center>Чеки</ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col col-4>{{fact.name}}</ion-col>

      <ion-col col-1 *ngIf="fact.days.active">
        <ion-input focusMe [(ngModel)]="fact.days.value" (ionBlur)="fieldOnBlur('fact', 'days')" type="tel"></ion-input>
      </ion-col>
      <ion-col text-right col-1 *ngIf="!fact.days.active" (click)="fact.days.active = true">
        <span>{{fact.days.value | number: '1.0-0'}}</span>
      </ion-col>

      <ion-col col-2 *ngIf="fact.amount.active">
        <ion-input focusMe [(ngModel)]="fact.amount.value" (ionBlur)="fieldOnBlur('fact', 'amount')"
                   type="tel"></ion-input>
      </ion-col>
      <ion-col text-right col-2 *ngIf="!fact.amount.active" (click)="fact.amount.active = true">
        <span>{{fact.amount.value | number: '1.2-2'}}<span *ngIf="fact.amount.value"> грн.</span></span>
      </ion-col>

      <ion-col col-1 *ngIf="fact.kpc.active">
        <ion-input focusMe [(ngModel)]="fact.kpc.value" (ionBlur)="fieldOnBlur('fact', 'kpc')" type="tel"></ion-input>
      </ion-col>
      <ion-col text-right col-1 *ngIf="!fact.kpc.active" (click)="fact.kpc.active = true">
        <span>{{fact.kpc.value | number: '1.2-2'}}</span>
      </ion-col>

      <ion-col col-2 *ngIf="fact.aveCheck.active">
        <ion-input focusMe [(ngModel)]="fact.aveCheck.value" (ionBlur)="fieldOnBlur('fact', 'aveCheck')"
                   type="tel"></ion-input>
      </ion-col>
      <ion-col text-right col-2 *ngIf="!fact.aveCheck.active" (click)="fact.aveCheck.active = true">
        <span>{{fact.aveCheck.value | number: '1.2-2'}}<span *ngIf="fact.aveCheck.value"> грн.</span></span>
      </ion-col>

      <ion-col col-2 *ngIf="fact.checks.active">
        <ion-input focusMe [(ngModel)]="fact.checks.value" (ionBlur)="fieldOnBlur('fact', 'checks')"
                   type="tel"></ion-input>
      </ion-col>
      <ion-col text-right col-2 *ngIf="!fact.checks.active" (click)="fact.checks.active = true">
        <span>{{fact.checks.value | number: '1.0-0'}}</span>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col col-4>{{plan.name}}</ion-col>

      <ion-col col-1 *ngIf="plan.days.active">
        <ion-input focusMe [(ngModel)]="plan.days.value" (ionBlur)="fieldOnBlur('plan', 'days')" type="tel"></ion-input>
      </ion-col>
      <ion-col text-right col-1 *ngIf="!plan.days.active" (click)="plan.days.active = true">
        <span>{{plan.days.value | number: '1.0-0'}}</span>
      </ion-col>

      <ion-col col-2 *ngIf="plan.amount.active">
        <ion-input focusMe [(ngModel)]="plan.amount.value" (ionBlur)="fieldOnBlur('plan', 'amount')"
                   type="tel"></ion-input>
      </ion-col>
      <ion-col text-right col-2 *ngIf="!plan.amount.active" (click)="plan.amount.active = true">
        <span>{{plan.amount.value | number: '1.2-2'}}<span *ngIf="plan.amount.value"> грн.</span></span>
      </ion-col>

      <ion-col col-1 *ngIf="plan.kpc.active">
        <ion-input focusMe [(ngModel)]="plan.kpc.value" (ionBlur)="fieldOnBlur('plan', 'kpc')" type="tel"></ion-input>
      </ion-col>
      <ion-col text-right col-1 *ngIf="!plan.kpc.active" (click)="plan.kpc.active = true">
        <span>{{plan.kpc.value | number: '1.2-2'}}</span>
      </ion-col>

      <ion-col col-2 *ngIf="plan.aveCheck.active">
        <ion-input focusMe [(ngModel)]="plan.aveCheck.value" (ionBlur)="fieldOnBlur('plan', 'aveCheck')"
                   type="tel"></ion-input>
      </ion-col>
      <ion-col text-right col-2 *ngIf="!plan.aveCheck.active" (click)="plan.aveCheck.active = true">
        <span>{{plan.aveCheck.value | number: '1.2-2'}}<span *ngIf="plan.aveCheck.value"> грн.</span></span>
      </ion-col>

      <ion-col col-2 *ngIf="plan.checks.active">
        <ion-input focusMe [(ngModel)]="plan.checks.value" (ionBlur)="fieldOnBlur('plan', 'checks')"
                   type="tel"></ion-input>
      </ion-col>
      <ion-col text-right col-2 *ngIf="!plan.checks.active" (click)="plan.checks.active = true">
        <span>{{plan.checks.value | number: '1.0-0'}}</span>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col col-4>{{prediction.name}}</ion-col>
      <ion-col col-1></ion-col>
      <ion-col text-right col-2>
        <span>{{prediction.amount.value | number: '1.2-2'}}<span *ngIf="prediction.amount.value"> %</span></span>
      </ion-col>
      <ion-col col-1></ion-col>
      <ion-col col-2></ion-col>
      <ion-col col-2></ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col col-4>{{planPercent.name}}</ion-col>
      <ion-col col-1></ion-col>
      <ion-col text-right col-2>
        <span>{{planPercent.amount.value | number: '1.2-2'}}<span *ngIf="planPercent.amount.value"> %</span></span>
      </ion-col>
      <ion-col text-right col-1>
        <span>{{planPercent.kpc.value | number: '1.2-2'}}<span *ngIf="planPercent.kpc.value"> %</span></span>
      </ion-col>
      <ion-col text-right col-2>
        <span>{{planPercent.aveCheck.value | number: '1.2-2'}}<span *ngIf="planPercent.aveCheck.value"> %</span></span>
      </ion-col>
      <ion-col text-right col-2>
        <span>{{planPercent.checks.value | number: '1.2-2'}}<span *ngIf="planPercent.checks.value"> %</span></span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
